

* {
    margin: 0.6rem;
    box-sizing: border-box;
    font-family: mulish;
}

:root {
    --common-color: #5A5A5D;
    --primary-color: #FF5400;
    --secondary-color: #131318;
}

/* nav */

.nav1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.title{
    color: var(--secondary-color);
    font-style: 400;
    font-weight: 800;
    font-size: 4rem;
}

.brand {
    width: 50%;
    display: flex;
    gap: 1.4rem;
}
#travel {
    color: var(--primary-color);
}

.nav_menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu > li {
    list-style: none;
}

#home{
    color: var(--primary-color);
    font-weight: 700;
}

.nav_menu > li > a {
    color: var(--common-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-style: 400;
    font-weight: 500;
}

/* banner */

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 11rem 0;
    border-radius: 1.6rem;
}

.b_title {
    font-size: 6.4rem;
    font-weight: 800;
}

.b_title,
.banner_description {
    color: #FFF;
    text-align: center;
    font-style: 400;
    font-weight: 400;
}

.banner_description {
    width: 85%;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 2.4rem auto 4.8rem;
    padding: 0 25rem;
}

.banner_options {
    background-color: #ffffff57;
    border-radius: 0.8rem;
    padding: 1.6rem;
    display: flex;
    gap: 2.5rem;
    width: 60%;
    margin: auto;
}

.banner_options>.option,
.banner_options>button {
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-style: 400;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    flex: 1;
    border: 0;
}

.banner_options>.option {
    background-color: #fff;
    justify-content: space-between;
}

.banner_options>button {
    background-color: var(--primary-color);
    justify-content: center;
    gap: 1rem;
    color: #FFF;
}

.banner_options>.option>p {
    color: var(--common-color);
    font-weight: 400;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.md1{
    color: var(--secondary-color);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
    padding-bottom: 3.4rem;
}

.common-para {
    color: var(--common-color);
    font-weight: 400;
    line-height: 1.6rem; 
    font-size: 1rem;
    padding: 1rem;
}

.main-desc>button{
    background-color: var(--primary-color);
    justify-content: center;
    gap: 1rem;
    color: #FFF;
    border: 0;
    border-radius: 0.4rem;
}


/* destination start */
.destination {
    margin: 8rem 0;
}

.destination>h2 {
    text-align: center;
}

.destination>p {
    margin: 2.4rem auto 5rem;
    width: 42.5%;
    text-align: center;
}

.destination_container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.first_destination_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}

.maldives {
    background:url('Images/Rectangle\ 5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indonesia {
    background:url('Images/Rectangle\ 8.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_destination_row {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    gap: 1.4rem;
}

.srilanka {
    background:url('Images/Rectangle\ 6.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.north_america {
    background:url('Images/Rectangle\ 7.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kashmir {
    background:url('Images/Rectangle\ 9.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third_destination_row {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1.4rem;
}

.bangladesh {
    background:url('Images/Rectangle\ 11.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandarban {
    background:url('Images/Rectangle\ 10.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country_name {
    color: #FFF;
    font-size: 2.8rem;
    font-style: 400;
    font-weight: 800;
}

/* destination end */

/* why we start */
.ds1{
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 50%;
}

.ds2{
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 50%;
}

.div1 , .div0{
    display: flex;
    align-items: center;
    justify-content: center;

}

.div2{
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.div2{
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    left: 25%;
}


/* why we end */


/* footer */
.why-we-sec{
    padding-bottom: 2rem;
}
.foot{
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 402px;
}
.f-tittle{
    text-align: center;
    padding-top: 8.4rem;
}
.fp{
    text-align: center;
}

hr{
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}